<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testGit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74B9FA7F1E1C8E2C00120FB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74B9FA981E1C8E2D00120FB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74B9FAA31E1C8E2D00120FB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
